body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea;
}

.container {
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Added for consistent sizing */
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004494;
}

#apiResponse {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 4px;
    text-align: left;
    height: 200px; /* Set a fixed height */
    overflow-y: auto; /* Add scroll for overflow */
}
